{% extends '../index.html' %}

{% load static %}

{% block body %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{{ BASE_URL }}">Home</a></li>
          <li>User Profile</li>
        </ol>
        <h2>User Full Name <a href="{{ BASE_URL}}/profile/edit"> <span class="btn btn-learn-more float-end"> Edit </span></a></h2>

      </div>
    </section>

    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider">
              <div class="align-items-center">

                <div class="swiper-slide">
                  <img src="{% static 'assets/img/portfolio/portfolio-1.jpg'  %}" alt="">
                </div>


              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>First Name</strong>: Collins</li>
                <li><strong>Last Name</strong>: Oden </li>
                <li><strong>Phone Number</strong>: 11 March, 2020</li>
                <li><strong>Contact Email</strong>: <a href="#">www.example.com</a></li>
                <li class="text-center">
                <div class="social col-12 justify-content-evenly">
                    <a href="https://twitter.com/collinsoden1"><i class="bi bi-twitter"></i></a>
                    <a href="https://facebook.com/officialcollinsoden"><i class="bi bi-facebook"></i></a>
                    <a href="https://instagram.com/collinsoden"><i class="bi bi-instagram"></i></a>
                    <a href="https://linkedin.com/in/collinsoden"><i class="bi bi-linkedin"></i></a>
                  </div>
                </li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>BIO</h2>
              <p class="justify-content-between">
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  {% endblock %}